.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Instrument Sans;
}
.display-1 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 5.625rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.03125rem;
}
.display-2 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 3rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.3em;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.875rem;
  line-height: 1.5em;
}
.display-5 > .mbr-iconfont {
  font-size: 2.34375rem;
}
.display-7 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.375rem;
  line-height: 1.5em;
  letter-spacing: -0.04em;
}
.display-7 > .mbr-iconfont {
  font-size: 1.71875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.9375rem;
    font-size: calc( 2.61875rem + (5.625 - 2.61875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.61875rem + (5.625 - 2.61875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.5rem;
    font-size: calc( 1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.1rem;
    font-size: calc( 1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 32px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 32px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 32px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 32px;
}
.bg-primary {
  background-color: #125f94 !important;
}
.bg-success {
  background-color: #f5df4d !important;
}
.bg-info {
  background-color: #dae5f8 !important;
}
.bg-warning {
  background-color: #00ccbd !important;
}
.bg-danger {
  background-color: #990066 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #125f94 !important;
  border-color: #125f94 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #187cc1 !important;
  border-color: #187cc1 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #187cc1 !important;
  border-color: #187cc1 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #caa912 !important;
  border-color: #caa912 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ebc824 !important;
  border-color: #ebc824 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ebc824 !important;
  border-color: #ebc824 !important;
}
.btn-info,
.btn-info:active {
  background-color: #dae5f8 !important;
  border-color: #dae5f8 !important;
  color: #2256b1 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #2256b1 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success,
.btn-success:active {
  background-color: #f5df4d !important;
  border-color: #f5df4d !important;
  color: #3f3804 !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #f8e87d !important;
  border-color: #f8e87d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3804 !important;
  background-color: #f8e87d !important;
  border-color: #f8e87d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #00ccbd !important;
  border-color: #00ccbd !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #00ffec !important;
  border-color: #00ffec !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #00ffec !important;
  border-color: #00ffec !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #990066 !important;
  border-color: #990066 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #cc0088 !important;
  border-color: #cc0088 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #cc0088 !important;
  border-color: #cc0088 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #125f94;
  color: #125f94;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #092d47 !important;
  background-color: transparent !important;
  border-color: #092d47 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #125f94 !important;
  border-color: #125f94 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #caa912;
  color: #caa912;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #7a660b !important;
  background-color: transparent !important;
  border-color: #7a660b !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #caa912 !important;
  border-color: #caa912 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #dae5f8;
  color: #dae5f8;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #91b2ea !important;
  background-color: transparent !important;
  border-color: #91b2ea !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #2256b1 !important;
  background-color: #dae5f8 !important;
  border-color: #dae5f8 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #f5df4d;
  color: #f5df4d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #dfc30d !important;
  background-color: transparent !important;
  border-color: #dfc30d !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3804 !important;
  background-color: #f5df4d !important;
  border-color: #f5df4d !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #00ccbd;
  color: #00ccbd;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #00756d !important;
  background-color: transparent !important;
  border-color: #00756d !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #00ccbd !important;
  border-color: #00ccbd !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #990066;
  color: #990066;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #42002c !important;
  background-color: transparent !important;
  border-color: #42002c !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #990066 !important;
  border-color: #990066 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #125f94 !important;
}
.text-secondary {
  color: #caa912 !important;
}
.text-success {
  color: #f5df4d !important;
}
.text-info {
  color: #dae5f8 !important;
}
.text-warning {
  color: #00ccbd !important;
}
.text-danger {
  color: #990066 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #072539 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #6c5b0a !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #d0b70c !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #84a9e8 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #00665f !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #330022 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #125f94;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #dae5f8;
}
.alert-warning {
  background-color: #00ccbd;
}
.alert-danger {
  background-color: #990066;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #125f94;
  border-color: #125f94;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #125f94;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #3ea2e8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #99fff8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ff1ab2;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.375rem;
  line-height: 1.5em;
  letter-spacing: -0.04em;
  font-weight: 400;
  border-radius: 100px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.71875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #125f94 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.375rem;
  line-height: 1.5em;
  letter-spacing: -0.04em;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.71875rem;
}
blockquote {
  border-color: #125f94;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #125f94;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #125f94;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #125f94;
  border-bottom-color: #125f94;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #125f94 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #caa912 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23125f94' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  box-shadow: none;
  padding: 0 24px;
  height: 64px;
  min-width: 150px;
  font-weight: 700 !important;
  flex-direction: row-reverse;
}
.mbr-section-btn .btn .mbr-iconfont,
.mbr-section-btn-main .btn .mbr-iconfont {
  margin-right: 8px;
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  box-shadow: none;
}
img {
  border-radius: 40px !important;
}
.cid-tMfdLfjybC {
  z-index: 1000;
  width: 100%;
}
.cid-tMfdLfjybC .navbar-dropdown {
  background: rgba(218, 229, 248, 0) !important;
  padding: 0;
  position: fixed;
}
.cid-tMfdLfjybC .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: rgba(218, 229, 248, 0) !important;
  background: #dae5f8;
}
.cid-tMfdLfjybC .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tMfdLfjybC .menu_box {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tMfdLfjybC .menu_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cid-tMfdLfjybC .menu_box .navbar.opened,
  .cid-tMfdLfjybC .menu_box .navbar-collapse {
    background-color: #dae5f8 !important;
    transition: all 0s ease 0s;
  }
}
.cid-tMfdLfjybC nav.navbar {
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cid-tMfdLfjybC .icons-menu-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-tMfdLfjybC .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
    display: flex;
  }
}
.cid-tMfdLfjybC .mbr-section-btn-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-tMfdLfjybC .mbr-section-btn-main {
    margin-top: 1rem;
    display: block;
  }
}
.cid-tMfdLfjybC .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-tMfdLfjybC .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-tMfdLfjybC .offcanvas {
    padding: 12rem 64px 0;
    width: 50%;
    background-color: #125f94;
  }
  .cid-tMfdLfjybC .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-tMfdLfjybC .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-tMfdLfjybC .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-tMfdLfjybC .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-tMfdLfjybC .offcanvas-body .mbr-text,
  .cid-tMfdLfjybC .offcanvas-body .mbr-section-subtitle {
    margin-bottom: 32px;
  }
  .cid-tMfdLfjybC .offcanvas-body .offcanvas_contact {
    margin: 0;
  }
  .cid-tMfdLfjybC .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-tMfdLfjybC .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #125f94;
  }
  .cid-tMfdLfjybC .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-tMfdLfjybC .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-tMfdLfjybC .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-tMfdLfjybC .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-tMfdLfjybC ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-tMfdLfjybC .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tMfdLfjybC .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-tMfdLfjybC .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-tMfdLfjybC li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-tMfdLfjybC .lg_brand {
    margin: 0 1rem;
  }
  .cid-tMfdLfjybC .navbar-nav.nav-dropdown {
    display: -webkit-flex;
    width: 100%;
    justify-content: center;
  }
}
.cid-tMfdLfjybC .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-tMfdLfjybC .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-tMfdLfjybC .nav-item {
    margin: 0 !important;
  }
}
.cid-tMfdLfjybC .nav-item .nav-link:hover,
.cid-tMfdLfjybC .nav-item .nav-link:focus {
  color: #caa912 !important;
  transition: all 0.3s ease-out;
}
.cid-tMfdLfjybC .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-tMfdLfjybC .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-tMfdLfjybC .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-tMfdLfjybC .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tMfdLfjybC .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-tMfdLfjybC .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-tMfdLfjybC .offcanvas_box {
    display: none;
  }
}
.cid-tMfdLfjybC .dropdown-item {
  border: none;
  font-weight: 300 !important;
}
.cid-tMfdLfjybC .nav-dropdown .link {
  font-weight: 700 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-tMfdLfjybC .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-tMfdLfjybC .container {
  display: flex;
  margin: auto;
}
.cid-tMfdLfjybC .iconfont-wrapper {
  color: #262642;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-tMfdLfjybC .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-tMfdLfjybC .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-tMfdLfjybC .navbar-caption {
  color: #2f2e30;
}
.cid-tMfdLfjybC .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-tMfdLfjybC .navbar-nav {
    margin: 0;
  }
}
.cid-tMfdLfjybC .dropdown-menu,
.cid-tMfdLfjybC .navbar.opened {
  background-color: true !important;
}
.cid-tMfdLfjybC .nav-item:focus,
.cid-tMfdLfjybC .nav-link:focus {
  outline: none;
}
.cid-tMfdLfjybC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tMfdLfjybC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tMfdLfjybC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tMfdLfjybC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tMfdLfjybC .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tMfdLfjybC .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tMfdLfjybC .navbar {
  min-height: 70px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-tMfdLfjybC .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-tMfdLfjybC .navbar.opened {
  transition: all 0.3s;
}
.cid-tMfdLfjybC .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-tMfdLfjybC .navbar .navbar-logo img {
  object-fit: contain;
  border-radius: 16px !important;
}
.cid-tMfdLfjybC .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-tMfdLfjybC .navbar.collapsed {
  justify-content: center;
}
.cid-tMfdLfjybC .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tMfdLfjybC .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tMfdLfjybC .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tMfdLfjybC .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tMfdLfjybC .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tMfdLfjybC .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-tMfdLfjybC .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tMfdLfjybC .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-tMfdLfjybC .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-tMfdLfjybC .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tMfdLfjybC .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tMfdLfjybC .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-tMfdLfjybC .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tMfdLfjybC .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-tMfdLfjybC .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tMfdLfjybC .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-tMfdLfjybC .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-tMfdLfjybC .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-tMfdLfjybC .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0;
    width: 100%;
    justify-content: space-between;
  }
  .cid-tMfdLfjybC .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tMfdLfjybC .navbar .icons-menu {
    padding: 0;
  }
}
.cid-tMfdLfjybC .navbar.navbar-short {
  min-height: 60px;
}
.cid-tMfdLfjybC .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tMfdLfjybC .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tMfdLfjybC .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tMfdLfjybC .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 400;
}
.cid-tMfdLfjybC .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tMfdLfjybC .dropdown-item.active,
.cid-tMfdLfjybC .dropdown-item:active {
  background-color: transparent;
}
.cid-tMfdLfjybC .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tMfdLfjybC .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tMfdLfjybC .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tMfdLfjybC .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tMfdLfjybC ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-tMfdLfjybC .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tMfdLfjybC button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #dae5f8;
  background: #9ec2fe;
}
.cid-tMfdLfjybC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #125f94;
}
.cid-tMfdLfjybC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tMfdLfjybC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tMfdLfjybC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tMfdLfjybC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tMfdLfjybC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tMfdLfjybC nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tMfdLfjybC nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tMfdLfjybC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tMfdLfjybC a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-tMfdLfjybC .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tMfdLfjybC .navbar {
    height: 70px;
  }
  .cid-tMfdLfjybC .navbar.opened {
    height: auto;
  }
  .cid-tMfdLfjybC .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tMfdLfjybC .navbar-dropdown .navbar-logo {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .cid-tMfdLfjybC .container-fluid {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.cid-tMfdLfjybC .mbr-section-btn-main .btn {
  margin: 8px;
  min-width: 185px;
}
.cid-tMfdLfjybC .navbar-caption:hover {
  color: #125f94;
}
@media (min-width: 992px) {
  .cid-tMfdLfjybC .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-tMfdLfjybC .text_widget {
  margin-bottom: 32px;
}
.cid-tMfdLfjybC .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-tMfdLfjybC .text_widget a:hover,
.cid-tMfdLfjybC .text_widget a:focus {
  color: #caa912 !important;
}
.cid-tMfdLfjybC .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tMfdLfjybC .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-tMfdLfjybC .mbr-section-subtitle,
.cid-tMfdLfjybC .text_widget,
.cid-tMfdLfjybC .mbr-section-btn {
  text-align: center;
}
.cid-tMfdLfjybC a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-tMfdLsuvtK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tMfdLsuvtK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.webp");
}
.cid-tMfdLsuvtK .container-fluid {
  padding: 0 80px;
}
@media (max-width: 992px) {
  .cid-tMfdLsuvtK .container-fluid {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-tMfdLsuvtK .container {
    padding: 0 24px;
  }
}
.cid-tMfdLsuvtK .title-wrapper .mbr-emoji {
  margin-bottom: 0;
}
.cid-tMfdLsuvtK .title-wrapper .mbr-section-title {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-tMfdLsuvtK .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-tMfdLsuvtK .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tMfdLsuvtK .title-wrapper .mbr-section-btn {
  margin-top: 64px;
}
@media (max-width: 992px) {
  .cid-tMfdLsuvtK .title-wrapper .mbr-section-btn {
    margin-top: 32px;
  }
}
.cid-tMfdLsuvtK .mbr-section-title {
  color: #262642;
}
.cid-tMfdLsuvtK .mbr-text {
  color: #FF3399;
  text-align: center;
}
.cid-tMfdLsuvtK .mbr-section-title,
.cid-tMfdLsuvtK .mbr-section-btn {
  text-align: center;
  color: #caa912;
}
.cid-tMfdLsuvtK .mbr-emoji {
  text-align: right;
}
.cid-tMfdLsuvtK .mbr-text,
.cid-tMfdLsuvtK .mbr-section-btn {
  color: #dae5f8;
}
.cid-uLLPBBoVuZ {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #125f94;
}
.cid-uLLPBBoVuZ .item:focus,
.cid-uLLPBBoVuZ span:focus {
  outline: none;
}
.cid-uLLPBBoVuZ .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-uLLPBBoVuZ .item {
  padding: 10px 0;
  font-weight: 700;
  color: #dae5f8;
  min-height: 90px;
}
@media (max-width: 768px) {
  .cid-uLLPBBoVuZ .item {
    min-height: 45px;
  }
}
.cid-tMfdVrhJ6D {
  background-color: #dae5f8;
}
.cid-tMfdVrhJ6D .mbr-fallback-image.disabled {
  display: none;
}
.cid-tMfdVrhJ6D .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tMfdVrhJ6D .container-fluid {
  padding: 0 80px;
}
@media (max-width: 992px) {
  .cid-tMfdVrhJ6D .container-fluid {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-tMfdVrhJ6D .container {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-tMfdVrhJ6D .image-wrapper {
    padding: 0;
  }
}
.cid-tMfdVrhJ6D .image-wrapper img {
  height: 600px;
  object-fit: cover;
  border-radius: 40px !important;
}
@media (max-width: 992px) {
  .cid-tMfdVrhJ6D .image-wrapper img {
    height: 350px;
  }
}
.cid-tMfdVrhJ6D .content-wrapper {
  padding-right: 80px;
}
@media (max-width: 992px) {
  .cid-tMfdVrhJ6D .content-wrapper {
    padding: 0;
    margin-bottom: 32px;
  }
}
.cid-tMfdVrhJ6D .content-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
.cid-tMfdVrhJ6D .content-wrapper .mbr-section-subtitle {
  margin-bottom: 0;
}
.cid-tMfdVrhJ6D .content-wrapper .mbr-text {
  margin: 64px 0 0;
}
@media (max-width: 992px) {
  .cid-tMfdVrhJ6D .content-wrapper .mbr-text {
    margin: 32px 0 0;
  }
}
.cid-tMfdVrhJ6D .content-wrapper .mbr-section-btn {
  margin-top: 64px;
}
@media (max-width: 992px) {
  .cid-tMfdVrhJ6D .content-wrapper .mbr-section-btn {
    margin-top: 32px;
  }
}
.cid-tMfdVrhJ6D .mbr-section-title {
  color: #262642;
}
.cid-tMfdVrhJ6D .mbr-section-subtitle {
  color: #caa912;
}
.cid-tMfdVrhJ6D .mbr-text {
  color: #125f94;
}
.cid-tMfdVrhJ6D .mbr-section-title,
.cid-tMfdVrhJ6D .mbr-section-btn {
  color: #125f94;
}
.cid-tMfdQnt0C7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tMfdQnt0C7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tMfdQnt0C7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tMfdQnt0C7 .container-fluid {
  padding: 0 80px;
}
@media (max-width: 992px) {
  .cid-tMfdQnt0C7 .container-fluid {
    padding: 0 24px;
  }
}
@media (max-width: 992px) {
  .cid-tMfdQnt0C7 .container {
    padding: 0 24px;
  }
}
.cid-tMfdQnt0C7 .image-wrapper {
  padding-right: 40px;
}
@media (max-width: 992px) {
  .cid-tMfdQnt0C7 .image-wrapper {
    padding: 0;
    margin-bottom: 32px;
  }
}
.cid-tMfdQnt0C7 .image-wrapper img {
  height: 600px;
  object-fit: cover;
  border-radius: 40px !important;
}
@media (max-width: 992px) {
  .cid-tMfdQnt0C7 .image-wrapper img {
    height: 350px;
  }
}
.cid-tMfdQnt0C7 .content-wrapper {
  padding-right: 80px;
}
@media (max-width: 992px) {
  .cid-tMfdQnt0C7 .content-wrapper {
    padding: 0;
  }
}
.cid-tMfdQnt0C7 .content-wrapper .title-wrapper {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-tMfdQnt0C7 .content-wrapper .title-wrapper {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .cid-tMfdQnt0C7 .content-wrapper .title-wrapper {
    margin-bottom: 32px;
  }
}
.cid-tMfdQnt0C7 .content-wrapper .title-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
.cid-tMfdQnt0C7 .content-wrapper .title-wrapper .mbr-section-subtitle {
  margin-bottom: 0;
}
.cid-tMfdQnt0C7 .content-wrapper .items-wrapper .item {
  margin-bottom: 32px;
}
.cid-tMfdQnt0C7 .content-wrapper .items-wrapper .item:nth-child(2n) .item-wrapper .card-box .iconfont-wrapper .mbr-iconfont {
  color: #caa912;
  background-color: #125f94;
}
.cid-tMfdQnt0C7 .content-wrapper .items-wrapper .item:nth-child(3n) .item-wrapper .card-box .iconfont-wrapper .mbr-iconfont {
  color: #caa912;
  background-color: #125f94;
}
.cid-tMfdQnt0C7 .content-wrapper .items-wrapper .item .item-wrapper .card-box {
  display: flex;
}
.cid-tMfdQnt0C7 .content-wrapper .items-wrapper .item .item-wrapper .card-box .iconfont-wrapper {
  margin-right: 24px;
}
@media (max-width: 992px) {
  .cid-tMfdQnt0C7 .content-wrapper .items-wrapper .item .item-wrapper .card-box .iconfont-wrapper {
    margin-right: 16px;
  }
}
.cid-tMfdQnt0C7 .content-wrapper .items-wrapper .item .item-wrapper .card-box .iconfont-wrapper .mbr-iconfont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  min-width: 56px;
  border-radius: 16px;
  font-size: 24px;
  color: #caa912;
  background-color: #125f94;
}
.cid-tMfdQnt0C7 .content-wrapper .items-wrapper .item .item-wrapper .card-box .card-text {
  margin-bottom: 0;
}
.cid-tMfdQnt0C7 .mbr-section-title {
  color: #125f94;
}
.cid-tMfdQnt0C7 .mbr-section-subtitle {
  color: #caa912;
}
.cid-tMfdQnt0C7 .card-text {
  color: #125f94;
}
.cid-uLOOYKIq51 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uLOOYKIq51 .mbr-section-subtitle {
  color: #125f94;
}
.cid-uLOOYKIq51 ul.list-inline {
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
}
.cid-uLOOYKIq51 ul.list-inline li {
  margin: 0;
  padding: .5rem;
}
.cid-uLOOYKIq51 ul.list-inline img {
  max-width: 6rem;
  padding-bottom: .5rem;
}
.cid-uLOOYKIq51 ul.list-inline img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
@media (max-width: 767px) {
  .cid-uLOOYKIq51 .list-inline-item img {
    max-width: 5rem;
  }
}
.cid-uLOOYKIq51 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uLOOYKIq51 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uLLVJMUxxR {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #dae5f8;
}
.cid-uLLVJMUxxR .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-uLLVJMUxxR img,
.cid-uLLVJMUxxR .item-img {
  width: 100%;
}
.cid-uLLVJMUxxR .item:focus,
.cid-uLLVJMUxxR span:focus {
  outline: none;
}
.cid-uLLVJMUxxR .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uLLVJMUxxR .item {
    margin-bottom: 1rem;
  }
}
.cid-uLLVJMUxxR .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uLLVJMUxxR .item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-uLLVJMUxxR .item-content .item-footer {
  margin-top: auto;
}
.cid-uLLVJMUxxR .mbr-section-title {
  color: #caa912;
}
.cid-uLLVJMUxxR .mbr-text,
.cid-uLLVJMUxxR .mbr-section-btn {
  color: #000000;
}
.cid-uLLVJMUxxR .item-title {
  color: #125f94;
}
.cid-uLLVJMUxxR .content-head {
  max-width: 800px;
}
.cid-uLLKeD9ryi {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uLLKeD9ryi .mbr-fallback-image.disabled {
  display: none;
}
.cid-uLLKeD9ryi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uLLKeD9ryi .container {
    padding: 0 22px;
  }
}
.cid-uLLKeD9ryi .row {
  justify-content: space-between;
}
.cid-uLLKeD9ryi .content-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
.cid-uLLKeD9ryi .content-wrapper .mbr-text {
  margin-bottom: 16px;
}
.cid-uLLKeD9ryi .form-wrap .dragArea.row .mbr-section-title {
  margin-bottom: 16px !important;
}
.cid-uLLKeD9ryi .form-wrap .dragArea.row .mbr-text {
  margin-bottom: 16px;
}
.cid-uLLKeD9ryi .form-wrap .dragArea.row .form-group {
  margin-bottom: 16px !important;
}
.cid-uLLKeD9ryi .form-wrap .dragArea.row .form-group .form-control {
  padding: 16px;
  border: 1px solid #d4d3d3 !important;
  box-shadow: none;
  border-radius: 0 !important;
  background-color: transparent;
}
.cid-uLLKeD9ryi .form-wrap .dragArea.row .form-group .form-control:hover,
.cid-uLLKeD9ryi .form-wrap .dragArea.row .form-group .form-control:focus {
  border: 1px solid #125f94 !important;
}
.cid-uLLKeD9ryi .form-wrap .dragArea.row .form-group .form-control::placeholder {
  color: #125f94;
}
.cid-uLLKeD9ryi .form-wrap .dragArea.row .form-group textarea {
  min-height: 150px;
}
.cid-uLLKeD9ryi .form-wrap .dragArea.row .form-group .form-check {
  padding-left: 1.9em;
  margin-bottom: 16px;
}
.cid-uLLKeD9ryi .form-wrap .dragArea.row .form-group .form-check .form-check-input {
  background-color: transparent;
  border-color: #d4d3d3;
  border-radius: 0;
}
.cid-uLLKeD9ryi .form-wrap .dragArea.row .form-group .form-check .form-check-input:focus {
  background-color: #d4d3d3;
}
.cid-uLLKeD9ryi .form-wrap .dragArea.row .mbr-section-btn .btn {
  margin-top: 16px;
  min-height: auto;
}
.cid-uLLKeD9ryi .mbr-section-title {
  color: #125f94;
}
.cid-uLLKeD9ryi .mbr-text {
  color: #caa912;
}
.cid-uLLKeD9ryi label {
  color: #000000;
}
.cid-uLLcw58jko {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #dae5f8;
}
.cid-uLLcw58jko .mbr-fallback-image.disabled {
  display: none;
}
.cid-uLLcw58jko .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uLLcw58jko .card-wrapper {
  background-color: #125f94;
  padding: 1rem 2rem;
}
.cid-uLLcw58jko .google-map {
  height: 35rem;
  position: relative;
}
.cid-uLLcw58jko .google-map iframe {
  height: 100%;
  width: 100%;
  background-color: #dae5f8;
  padding: 4px;
}
.cid-uLLcw58jko .google-map [data-state-details] {
  color: #b4b4b4;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-uLLcw58jko .google-map[data-state] {
  background: #fffff5;
}
.cid-uLLcw58jko .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-uLLcw58jko .content-head {
  max-width: 800px;
}
.cid-uLLcw58jko .card-title,
.cid-uLLcw58jko .iconfont-wrapper {
  color: #dae5f8;
}
.cid-uLLcw58jko .card-text,
.cid-uLLcw58jko .mbr-section-btn {
  color: #fdfde1;
}
.cid-uLLcw58jko .mbr-desc,
.cid-uLLcw58jko .desc-wrapper {
  color: #fdfde1;
}
.cid-uLLcw58jko .mbr-section-title {
  color: #caa912;
}
.cid-uLOxLTQCZK {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #dae5f8;
}
.cid-uLOxLTQCZK .media-col {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uLOxLTQCZK .media-col {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .cid-uLOxLTQCZK .media-col {
    flex-direction: column;
  }
}
.cid-uLOxLTQCZK .brand-name {
  margin-bottom: 0;
  color: #125f94;
}
@media (max-width: 767px) {
  .cid-uLOxLTQCZK .brand-name {
    margin-top: 1rem;
  }
}
.cid-uLOxLTQCZK .media-wrap {
  padding: 0;
  margin-right: 1rem;
}
@media (max-width: 767px) {
  .cid-uLOxLTQCZK .media-wrap {
    margin-right: 0;
  }
}
.cid-uLOxLTQCZK .cards-row,
.cid-uLOxLTQCZK .social-row,
.cid-uLOxLTQCZK .menu-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .cid-uLOxLTQCZK .cards-row,
  .cid-uLOxLTQCZK .social-row,
  .cid-uLOxLTQCZK .menu-row {
    justify-content: center;
  }
}
.cid-uLOxLTQCZK .menu-row {
  margin-bottom: 1rem;
}
.cid-uLOxLTQCZK .foot-menu {
  list-style-type: none;
  margin-bottom: 0;
  margin-right: -1.2rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .cid-uLOxLTQCZK .foot-menu {
    justify-content: center;
  }
}
.cid-uLOxLTQCZK .foot-menu .foot-menu-item {
  margin-right: 1.2rem;
  margin-bottom: 0.5rem;
}
.cid-uLOxLTQCZK .text-col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cid-uLOxLTQCZK .social-col {
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .cid-uLOxLTQCZK .row {
    text-align: center;
  }
  .cid-uLOxLTQCZK .cards-col {
    justify-content: center;
  }
  .cid-uLOxLTQCZK .social-col {
    justify-content: center;
    margin-top: 30px;
  }
}
.cid-uLOxLTQCZK .card-item {
  width: 45px;
  height: 30px;
  margin-right: 1rem;
}
.cid-uLOxLTQCZK .card-item:last-child {
  margin-right: 0;
}
.cid-uLOxLTQCZK .card-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cid-uLOxLTQCZK .logo {
  width: 80px;
}
.cid-uLOxLTQCZK .socicon {
  color: black;
}
.cid-uLOxLTQCZK .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-uLOxLTQCZK .soc-item:last-child {
  margin-right: 0;
}
.cid-uLOxLTQCZK .mbr-text {
  color: #ffffff;
}
.cid-uLOxLTQCZK .copyright {
  color: #000000;
}
